.nav_container{
background: 	#0e1111;     
min-width: 12.2%;
max-width: 12.2%;
height: 100vh;
color: white;
border-radius: 4%;
padding: 20px;
}

.ul_nav{
    list-style: none;
    height: 17vh;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0px;
    outline: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight:  300;
}

.nav_links{

    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;

}

.a{
/*     outline: 2px solid white; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin:2px;
    font-family: 'Montserrat', sans-serif;
    font-weight:  300;
}